@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: var(
    --ATV-BG-Gradient,
    linear-gradient(252deg, #000 0%, #3e003b 100%)
  );
}
.active > svg,
.active > svg path {
  fill: #ff3988;
}
.activeCard {
  background: #ff3988;
  border: 6px solid #ff3988;
  transition: all 0.3s ease;
}
.nav-link svg:hover,
.nav-link  svg path:hover{
  fill: #ff3988;
}